@import '../_valiable.scss';
@import '../_font.scss';

main{
    font-family: 'Merriweather', serif;
}
ol, ul, li ,img  {
vertical-align: middle;
} 
.dispNone{
    display: none;
}
.displayBlock{
    display:inline;
}
.text-align-center{
    text-align: center;
}

.scale{
    position: relative;
    overflow: hidden;
}
@keyframes ani {
    0% {transform: translateY(150%);}
    100% {transform: translateY(0);}
  }
.post{
@include container( flex,space-between,
    center, 50px, auto, 50px, auto,
    $wight-frame, auto);
position: relative;
overflow: hidden;
overflow-y: hidden;
}
.post-Img{
    width: 830px;
    height: 500px; 
    transition: transform 0.5s;
//  position: absolute;    

   object-fit: cover;
   z-index: 1;
   border-radius: 15px;
   align-self: flex-start;
}
.post-containerImg{
    width: 830px;
    height: 500px;   
    position: absolute; 
    overflow: hidden;
overflow-y: hidden; 
}
.post-Img:hover {
    transform: scale(1.1);
}


.post-Recent-ImgS{
   height: 500px;
   width: 100%;
   gap: 30px;
   justify-content: end;
   flex-direction: column;
   border-radius: 15px;
   
 }


.post:hover .post-coments,
.post-Recent-ImgS:hover  .post-coments
{
    display: block;
    transform: translateY(150%);
    animation: ani 1s forwards;
 }


.post-Title-a:hover{
    background-size: 100% 2px;
    background-position: left 0% bottom;
    color: white;
}
 
 .post-contentn{
    margin-bottom: 40px;
    margin-top: 100px;
    transition: 0.6s ease;

}
.post-contentn>div,
.post-excerpt , .post-Title-a,
.post-coments{
    z-index: 5;
    position: relative;
    color: white;
    margin: 0px 50px;
    text-transform: capitalize;
    transition: 0.4s cubic-bezier(.17,.73,.66,.99);
}
.post-title-inner {
    margin-top: 11px;
}
.post-contentn>div{
    margin-bottom: 20px;
}
.line-a{
    
    display : inline;
    text-decoration: none;
    background-image: linear-gradient(90deg, currentColor, currentColor);
    background-repeat: no-repeat;
    background-size: 0% 2px;
    background-position: bottom;
    transition: 2.6s cubic-bezier(0.25, 0.8, 0.25, 1), background-position  0s;
    outline: 0;
}
.line-a-l{
    transition: 0.2s cubic-bezier(0.25, 0.8, 0.25, 1), background-position  0s;
}
.post-Title-a{
    padding: 2px 0;
    font-family: ui-monospace;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
    
}


.post-Recent-title:hover {
    background-size: 100% 2px;
    color: #5960ff;
}        
//  
.post-Category a::before,
.post-Subcategory a::before{
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50px;
    background: #00bcae;
    margin-right: 5px;
  
}
.post-Category a,
.post-Subcategory a{
    color: white  !important;
text-transform: uppercase;
margin: 5px;
text-decoration: none;
}
.post-Recent{
    width: 30%;
    height: 500px;
    flex-direction: column;
}
.post-Recen-a{
    position: relative;
    left: 50px;
   
} 
.post-Recent-img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.post-news>li{
    list-style-type: decimal-leading-zero;
}
.post-news>li::marker{
    color: #D9DBE0;
    font-size: 1.8rem;
    font-weight: 600;
    height: 120px;
    display: inline-flex ; 
    
}
.post-li{
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    gap: 10px;
    margin: 7px 0;
}
.subtitle-text{
    width: fit-content;
    height: 13px;
   background-color: $color-title-1;
   padding: 1px 5px;
   font-size: 10px;
   font-weight: 700;
   letter-spacing: 0.5px;
   color: white;
   text-transform: uppercase;
   vertical-align: top;
   margin-top: -25%;
}
.post-Recent-title{
    margin: 10px 0;
    text-decoration: none;
    color: $color-2;
}
.titre-line{
    margin-top: 10px;
}
// categories
.categories{
    @include container( flex,space-between,
        flex-start, 50px, auto, 50px, auto,
        $wight-frame, auto);
    position: relative;
    flex-direction: column;
   }
.cat-color{
    font-size: 16px;
    color: $color-recent;
}
.categories-item{
    width: 235px;
    height: 330px;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    border: solid 2px #EAEFF4 ;
    border-radius: 10px;
    background-color: white;
}
.categories-img{
    width: 192px;
    height: 192px;
    
}
.categories-item, .categories-img {
    position: relative;
    overflow: hidden;
    transition: 0.6s ease;
}
.img-containet{
    position: relative;
    overflow: hidden; 
    width: 192px;
    height: 192px;
    border-radius: 50%;
    box-shadow: 0px 10px 25px 0px rgba(23.88474864130433, 26.60561452364424, 35.24999999999997, 0.4);

}
.categories-img:hover{
    // transform: scale(1.1);
    scale: 1.1;
}
.categories-line{
    gap: 30px;
    width: $wight-frame;
}
//  Featured News
.featured-News{
    @include container( flex,space-between,
        flex-start, 50px, auto, 50px, auto,
        $wight-frame, auto);
    position: relative;
    flex-direction: column;
}
.featured-item{
    width: 300px;
    height: 361px;
    gap: 15px;
    justify-content: center;
    align-items: flex-start;
    border: none ;
    border-radius: 0px;
    margin: 0 15px;
    
}
.featured-img{
    width: 300px;
    height: 233px; 
}
.img-containet-featured{
    position: relative;
    overflow: hidden; 
    width: 300px;
    height: 233px;
}
.featured-cat::before{
    content: '';
    display: inline-flex;
    justify-content: center;
    width: 6px;
    height: 6px;
   margin-right: 5px ;
    border-radius: 50%;
    margin-left: 6px;
    background: currentColor top  /6px 6px no-repeat;
    
}
.featured-cat{
    text-transform: uppercase;
    // color: $color-Travel;   
}

.ant-carousel0 .slick-prev,
.ant-carousel0 .slick-next
{
  font-size: 25px;
  color: black;
  background-color: #e4e4e4;
  width: 60px;
  height: 35px;
  padding-top: 5px;
  position: absolute;
    top: -30px;
 
}
.ant-carousel0 .slick-prev:focus,
.ant-carousel0 .slick-next:focus,
.ant-carousel0 .slick-prev:hover,
.ant-carousel0 .slick-next:hover {
  
  color: white;
  background-color: #2894FF;
  
 
}
.ant-carousel0 .slick-prev {
    left: 1130px;
}
.ant-carousel0 .slick-next {
    right:  10px;
}
.ant-carousel0{
    width: $wight-frame;
    margin: 10px 0;
    margin-left: -15px;
}
.baner {
    @include container( flex,space-between,
        flex-start, 50px, auto, 50px, auto,
        $wight-frame, auto);
    position: relative;
    justify-content: center;

   }
.weeklyNews {
    @include container( flex,space-between,
        flex-start, 50px, auto, 50px, auto,
        $wight-frame, auto);
    position: relative;
    justify-content: center;
    flex-direction: column;

   }
   .weeklyNews-img{
    width: 110px;
    height: 100px;
    border-radius: 15px;
   }
   .weeklyNews-container{
    width: 110px;
    height: 130px;
   }
   .weeklyNews-item{
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    gap: 15px;
    margin: 7px 0px;
    width: 406px;
    position: relative;
   }
   .weeklyText{
    align-self: flex-start;
    width: 270px;
    position: absolute;
    left: 120px;

   }
   .weeklyNews-item>h5{
    margin: 20px 0;
   }
   .weeklyNews-block{
    margin: 30px 0px;
    width: 1264px;
   }
   .editorChoice {
    width: 100%;
    padding: 30px 0;
    justify-content: center;
    background-color: black;
   }
   .editorChoiceFon {
    @include container( flex,space-between,
        flex-start, 50px, auto, 50px, auto,
        $wight-frame, auto);
    position: relative;
    justify-content: center;
    flex-direction: column;
    
   }
   .color-white {
    color: white;
   }
   .stayConnected {
    @include container( flex,space-between,
        center, 100px, auto, 50px, auto,
        $wight-frame, 330px);
    position: relative;
    justify-content: center;
    background-color: #F7F7F7;
    background-image: url(../../../public/images/stayConnected.png);
    background-position: 93% 0px;
    background-repeat: no-repeat;
    background-size: auto;
    
    
   }