@import '../../Container/_valiable.scss';
@import '../../Container/_font.scss';
.article-sect{
    @include container( flex,center,
    flex-start, 140px, auto, 50px, auto,
    $wight-frame, auto);
position: relative;

flex-direction: column;

gap: 50px;

}
.articleImg,
.articleItem .ant-image-mask{
    border-radius: 20px;
}
.artecTitle{
    width: 75%;
    margin: 20px auto;
    gap : 10px;
}
.artecTitleClass{
    width: fit-content;
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 0.8rem;
    a{
        text-decoration: none;
    }
    
}
.articleItem{
    h1{
        width: 75%;
        margin: 0 auto;
        // color: #32e7ff;
    }
}

.avtor-blok-a,
.line-arti{
    width: 75%;
    margin: 0 auto;
    img{
        width: 45px;
        height: 45px;
    }
}
.line-arti{
    margin-bottom: 30px;
    padding-top: 20px;
    border-bottom: 1px solid #dfe1ea;
}
.avtor-avtor>div>h6{
    font-size: 12px;

}
.avtor-avtor>h6{
    font-size: 14px;

}
.avtor-avtor{
    width: 100%;
}
.press{
    font-size: 20px;
    gap: 15px;
    align-items: center;
    line-height: 40px;
   
}
.avtor-avtor>div{
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
// .heartTwoTone svg:hover path{
   
//     fill:blue;
// }
// .heartTwoTone svg:hover>path+path{
   
//     fill:red;
// }
.heartTwoToneClick{
    path { fill:blue;};
    path+path{fill:red;};
}
.messageTwoTone svg:hover path{
   
    fill:rgb(48, 142, 250);
}
.messageTwoTone svg:hover>path+path{
   
    fill:rgb(171, 202, 238);
}
.riFireLine:hover  {
    
    color: red

}
.reading-progress-indicator {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5px;
    z-index: 99999;
    margin-top: 120px;
   
}
.progress-indicator{
    background: #5960FF;
    transition: 0.3s ease-out;
    height: 100%;
    width: 0;
    display: block;
    box-shadow: 0 2px 6px #30323c26;
    
}