@import '../_valiable.scss';
@import '../_font.scss';

.footer{
    @include container( flex,space-between,
        flex-start, 50px, auto, 50px, auto,
        $wight-frame, auto);
    position: sticky;
    top: 100%;
   
   }
.foot-h4{
    font-size: 16px;
}
.logo1 {
    width: 40%;
    height: 38px;
}

.linear-Baza{
    text-decoration: none;
    background-image: linear-gradient(90deg, currentColor, currentColor);
    background-repeat: no-repeat;
    background-size: 40% 3px;
    background-position: left 0% bottom;
    color: black;
    outline: 0;
}
.linear{
   position: relative;
    // text-underline-offset: 1.3em;
    padding-bottom: 6px;
}
.foot-cat{
    gap: 20px;
    flex-direction: column;
}
.foot-new{
    width: 31%;
    flex-direction: column;
    gap: 20px;
}
.foot-new .input2{
    width: 100%;    
}
.button2{
    width: 98%;
    margin: 10px auto;
    height: 45px;
    background-color: black;

}
.row-col{
    display: flex;
    flex-direction: column;
}
.soc-size{
    display: flex;
    width: 145px;
    height: 50px;
    justify-content: space-evenly;
    border: solid 1px #E5E5E5;
    align-items: center;
}
.socIcon{
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}
.foot-follows{
    width: 25%;
    flex-direction: column;
    gap: 20px;
}
.foot-end{
    position: absolute;
    bottom: -20%;
    left: 43%;
}